In [21]:
# Installing libraries
!pip install seaborn
!pip install pandas
!pip install numpy
!pip3 install pandas
!pip install matplotlib
!pip install xgboost
!pip install catboost
!pip install regex
!pip install scikit-learn
!pip install lightgbm

Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/codespace/.local/lib/python3.12/site-packages (from seaborn) (2.2.4)
Requirement already satisfied: pandas>=1.2 in /home/codespace/.local/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/codespace/.local/lib/python3.12/site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.12/site-packages (2.2.4)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.12/site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: xgboost in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.12/site-packages (from xgboost) (2.2.4)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from xgboost) (2.26.2.post1)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.12/site-packages (from xgboost) (1.15.2)
Requirement already satisfied: catboost in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.2.8)
Requirement already satisfied: graphviz in /usr/local/python/3.12.1/lib/python3.12/site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (3.10.1)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (2.2.4)
Requirement already satisfied: pandas>=0.24 in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (1.15.2)
Requirement already satisfied: plotly in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (6.0.1)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib->catboost) (3.2.1)
Requirement already satisfied: narwhals>=1.15.1 in /home/codespace/.local/lib/python3.12/site-packages (from plotly->catboost) (1.31.0)
Requirement already satisfied: regex in /usr/local/python/3.12.1/lib/python3.12/site-packages (2024.11.6)
Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (2.2.4)
Requirement already satisfied: scipy>=1.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: lightgbm in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.6.0)
Requirement already satisfied: numpy>=1.17.0 in /home/codespace/.local/lib/python3.12/site-packages (from lightgbm) (2.2.4)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.12/site-packages (from lightgbm) (1.15.2)

In [22]:
import pandas as pd
import numpy as np
#import statsmodels.api as sm
import matplotlib.pyplot as plt
import csv 
from sklearn.model_selection import train_test_split  # For splitting the dataset into training and testing sets
from sklearn.linear_model import LinearRegression  # Linear regression model
from sklearn.metrics import mean_squared_error, r2_score  # Evaluation metrics
import matplotlib.pyplot as plt  # For data visualization

In [23]:
diabetes = pd.read_csv('/workspaces/SP25-Project/data/diabetic_data.csv')

In [24]:
print(diabetes.columns)

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [25]:
diabetes.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [26]:
diabetes.replace('?', np.nan, inplace=True)

In [27]:
diabetes.drop_duplicates(inplace=True)

In [28]:
# Define the columns to drop
columns_to_drop = [
    'encounter_id', 'patient_nbr', 'weight',
    'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
    'payer_code', 'medical_specialty', 'diag_1', 'diag_2', 'diag_3',
    'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
    'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
    'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
    'tolazamide', 'examide', 'citoglipton', 'insulin',
    'glyburide-metformin', 'glipizide-metformin',
    'glimepiride-pioglitazone', 'metformin-rosiglitazone',
    'metformin-pioglitazone', 'change', 'diabetesMed'
]

# Drop the columns from the 'diabetes' DataFrame
diabetes_cleaned = diabetes.drop(columns=columns_to_drop)

# Show the first few rows of the cleaned DataFrame
diabetes_cleaned.head(10)

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,readmitted
0,Caucasian,Female,[0-10),1,41,0,1,0,0,0,1,NaN,NaN,NO
1,Caucasian,Female,[10-20),3,59,0,18,0,0,0,9,NaN,NaN,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,2,0,1,6,NaN,NaN,NO
3,Caucasian,Male,[30-40),2,44,1,16,0,0,0,7,NaN,NaN,NO
4,Caucasian,Male,[40-50),1,51,0,8,0,0,0,5,NaN,NaN,NO
5,Caucasian,Male,[50-60),3,31,6,16,0,0,0,9,NaN,NaN,>30
6,Caucasian,Male,[60-70),4,70,1,21,0,0,0,7,NaN,NaN,NO
7,Caucasian,Male,[70-80),5,73,0,12,0,0,0,8,NaN,NaN,>30
8,Caucasian,Female,[80-90),13,68,2,28,0,0,0,8,NaN,NaN,NO
9,Caucasian,Female,[90-100),12,33,3,18,0,0,0,8,NaN,NaN,NO

In [29]:
# Define the mapping from age ranges to numeric midpoints
# Step 3: Convert age ranges to numerical midpoints
age_mapping = {
    '[0-10)': 5,
    '[10-20)': 15,
    '[20-30)': 25,
    '[30-40)': 35,
    '[40-50)': 45,
    '[50-60)': 55,
    '[60-70)': 65,
    '[70-80)': 75,
    '[80-90)': 85,
    '[90-100)': 95
}
diabetes_cleaned['age'] = diabetes_cleaned['age'].map(age_mapping)
# Preview to confirm
diabetes_cleaned[['age']].head(20)

    age
0     5
1    15
2    25
3    35
4    45
5    55
6    65
7    75
8    85
9    95
10   45
11   65
12   45
13   85
14   65
15   65
16   55
17   55
18   75
19   75

In [ ]:
# Step 4: Convert 'readmitted' column to binary
diabetes_cleaned['readmitted'] = diabetes_cleaned['readmitted'].apply(lambda x: 1 if x == '<30' else 0)

# Step 5: Encode 'gender' as binary (Male: 1, Female: 0)
diabetes_cleaned['gender'] = diabetes_cleaned['gender'].replace({'Male': 1, 'Female': 0})

# Step 6: One-hot encode other categorical features
diabetes_cleaned = pd.get_dummies(
    diabetes_cleaned,
    columns=['race', 'max_glu_serum', 'A1Cresult'],
    drop_first=True
)

# Step 7: Fill missing numeric values with the column mean
numeric_cols = diabetes_cleaned.select_dtypes(include=['float64', 'int64']).columns
diabetes_cleaned[numeric_cols] = diabetes_cleaned[numeric_cols].fillna(diabetes_cleaned[numeric_cols].mean())

# Step 8: Data preview
diabetes_cleaned.head(20)

,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,readmitted,race_Asian,race_Caucasian,race_Hispanic,race_Other,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>8,A1Cresult_Norm
0,0,5,1,41,0,1,0,0,0,1,0,False,True,False,False,False,False,False,False
1,0,15,3,59,0,18,0,0,0,9,0,False,True,False,False,False,False,False,False
2,0,25,2,11,5,13,2,0,1,6,0,False,False,False,False,False,False,False,False
3,1,35,2,44,1,16,0,0,0,7,0,False,True,False,False,False,False,False,False
4,1,45,1,51,0,8,0,0,0,5,0,False,True,False,False,False,False,False,False
5,1,55,3,31,6,16,0,0,0,9,0,False,True,False,False,False,False,False,False
6,1,65,4,70,1,21,0,0,0,7,0,False,True,False,False,False,False,False,False
7,1,75,5,73,0,12,0,0,0,8,0,False,True,False,False,False,False,False,False
8,0,85,13,68,2,28,0,0,0,8,0,False,True,False,False,False,False,False,False
9,0,95,12,33,3,18,0,0,0,8,0,False,True,False,False,False,False,False,False
10,0,45,9,47,2,17,0,0,0,9,0,False,False,False,False,False,False,False,False
11,1,65,7,62,0,11,0,0,0,7,1,False,False,False,False,False,False,False,False
12,0,45,7,60,0,15,0,1,0,8,1,False,True,False,False,False,False,False,False
13,1,85,10,55,1,31,0,0,0,8,0,False,True,False,False,False,False,False,False
14,0,65,1,49,5,2,0,0,0,8,0,False,False,False,False,False,False,False,False
15,1,65,12,75,5,13,0,0,0,9,0,False,False,False,False,False,False,False,False
16,1,55,4,45,4,17,0,0,0,8,1,False,False,False,False,False,False,False,False
17,0,55,3,29,0,11,0,0,0,3,0,False,True,False,False,False,False,False,False
18,1,75,5,35,5,23,0,0,0,9,0,False,False,False,False,False,False,False,False
19,1,75,6,42,2,23,0,0,0,8,0,False,False,False,False,False,False,False,False

In [31]:
print(diabetes_cleaned.columns)

Index(['gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'number_diagnoses',
       'readmitted', 'race_Asian', 'race_Caucasian', 'race_Hispanic',
       'race_Other', 'max_glu_serum_>300', 'max_glu_serum_Norm',
       'A1Cresult_>8', 'A1Cresult_Norm'],
      dtype='object')

In [ ]:
# Step 9: Convert 'True' and 'False' values to Bianary 
diabetes_cleaned = diabetes_cleaned.replace({True: 1, False: 0})

In [ ]:
# Step 10: Final Preview
diabetes_cleaned.head(20)

,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,readmitted,race_Asian,race_Caucasian,race_Hispanic,race_Other,max_glu_serum_>300,max_glu_serum_Norm,A1Cresult_>8,A1Cresult_Norm
0,0,5,1,41,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
1,0,15,3,59,0,18,0,0,0,9,0,0,1,0,0,0,0,0,0
2,0,25,2,11,5,13,2,0,1,6,0,0,0,0,0,0,0,0,0
3,1,35,2,44,1,16,0,0,0,7,0,0,1,0,0,0,0,0,0
4,1,45,1,51,0,8,0,0,0,5,0,0,1,0,0,0,0,0,0
5,1,55,3,31,6,16,0,0,0,9,0,0,1,0,0,0,0,0,0
6,1,65,4,70,1,21,0,0,0,7,0,0,1,0,0,0,0,0,0
7,1,75,5,73,0,12,0,0,0,8,0,0,1,0,0,0,0,0,0
8,0,85,13,68,2,28,0,0,0,8,0,0,1,0,0,0,0,0,0
9,0,95,12,33,3,18,0,0,0,8,0,0,1,0,0,0,0,0,0
10,0,45,9,47,2,17,0,0,0,9,0,0,0,0,0,0,0,0,0
11,1,65,7,62,0,11,0,0,0,7,1,0,0,0,0,0,0,0,0
12,0,45,7,60,0,15,0,1,0,8,1,0,1,0,0,0,0,0,0
13,1,85,10,55,1,31,0,0,0,8,0,0,1,0,0,0,0,0,0
14,0,65,1,49,5,2,0,0,0,8,0,0,0,0,0,0,0,0,0
15,1,65,12,75,5,13,0,0,0,9,0,0,0,0,0,0,0,0,0
16,1,55,4,45,4,17,0,0,0,8,1,0,0,0,0,0,0,0,0
17,0,55,3,29,0,11,0,0,0,3,0,0,1,0,0,0,0,0,0
18,1,75,5,35,5,23,0,0,0,9,0,0,0,0,0,0,0,0,0
19,1,75,6,42,2,23,0,0,0,8,0,0,0,0,0,0,0,0,0